@font-face {
  font-family: "Bacalisties";
  src: url(../fonts/Bacalisties.ttf);
}

@font-face {
  font-family: "Vogue";
  src: url(../fonts/Vogue-Regular.woff2);
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 0.75rem;
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  background-color: rgba(255, 143, 191, 0.8);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    width: 60px;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 10px;
}

@media (max-width: 576px) {
  .countdown .days .huruf,
  .countdown .hours .huruf,
  .countdown .minutes .huruf,
  .countdown .seconds .huruf {
    font-size: 10px;
  }
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-weight: 500;
}

@media (max-width: 576px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 20px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.section-1 {
  height: 100vh;
  background-image: url(../images/bg-header.jfif);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.section-1::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(88.54%, rgba(255, 255, 255, 0.659091)), color-stop(100%, #ffffff), to(#ffffff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.659091) 88.54%, #ffffff 100%, #ffffff 100%);
  content: "";
}

.section-1 .hias-1,
.section-1 .hias-2 {
  position: absolute;
  width: 100px;
}

@media (max-width: 576px) {
  .section-1 .hias-1,
  .section-1 .hias-2 {
    width: 50px;
  }
}

.section-1 .hias-1 {
  bottom: -10px;
  left: 0;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
}

@media (max-width: 768px) {
  .section-1 .hias-1 {
    bottom: 100px;
  }
}

.section-1 .hias-2 {
  right: 0;
  bottom: 40%;
  -webkit-transform: rotate(-35deg) scaleX(-1);
          transform: rotate(-35deg) scaleX(-1);
  mix-blend-mode: color-dodge;
}

@media (max-width: 768px) {
  .section-1 .hias-2 {
    bottom: unset;
    top: 10px;
  }
}

.section-1 .content {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .section-1 .content {
    padding: 5rem 0;
  }
}

@media (max-width: 576px) {
  .section-1 .content {
    padding: 3rem 0;
  }
}

@media (min-width: 1400px) {
  .section-1 .content {
    padding: 8rem 0;
  }
}

.section-1 .content .logo-viding {
  width: 100px;
  margin-bottom: 2rem;
  mix-blend-mode: color-dodge;
}

@media (min-width: 1400px) {
  .section-1 .content .logo-viding {
    width: 135px;
  }
}

.section-1 .content .btn-custom {
  color: #ff8dbf;
  background-color: #ffffff;
  border-radius: 50px;
  margin-bottom: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
}

.section-1 .content .btn-custom span {
  color: #ff8dbf;
}

.envelope-wrap {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  overflow-y: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.envelope-wrap .background {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.envelope-wrap .envelope {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  text-align: center;
  color: #fff;
}

.envelope-wrap .envelope .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5rem 3rem;
  background-color: transparent;
  border: 2px solid #fff;
}

.envelope-wrap .envelope .btn-custom:hover {
  color: #fff;
}

.envelope-wrap .envelope .btn-custom:focus {
  background-color: #ff8dbf;
  border-color: #ff8dbf;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-2 {
  position: relative;
  overflow: hidden;
}

.section-2 .content {
  text-align: center;
  padding: 3rem 0;
}

.section-2 .content h3,
.section-2 .content h2 {
  color: #ff8dbf;
}

@media (max-width: 576px) {
  .section-2 .content .col-md-4.mt-sm {
    margin-top: 38px;
  }
}

.section-2 .content .avatar-detail {
  margin: auto;
}

@media (max-width: 576px) {
  .section-2 .content .avatar-detail {
    width: 80%;
  }
}

.section-2 .content .avatar-wrap {
  position: relative;
}

.section-2 .content .avatar-wrap .avatar-hias-man {
  position: absolute;
  width: 250px;
  top: 0;
  right: 0;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

@media (max-width: 1200px) {
  .section-2 .content .avatar-wrap .avatar-hias-man {
    right: -70px;
  }
}

@media (max-width: 992px) {
  .section-2 .content .avatar-wrap .avatar-hias-man {
    right: -50px;
    width: 200px;
  }
}

@media (max-width: 576px) {
  .section-2 .content .avatar-wrap .avatar-hias-man {
    right: 40px;
    top: 20px;
    width: 180px;
  }
}

.section-2 .content .avatar-wrap .avatar-hias-girl {
  position: absolute;
  width: 250px;
  top: -20px;
  left: 0;
  -webkit-transform: rotate(-25deg) scaleX(-1);
          transform: rotate(-25deg) scaleX(-1);
}

@media (max-width: 1200px) {
  .section-2 .content .avatar-wrap .avatar-hias-girl {
    left: -70px;
  }
}

@media (max-width: 992px) {
  .section-2 .content .avatar-wrap .avatar-hias-girl {
    left: -50px;
    width: 200px;
  }
}

@media (max-width: 576px) {
  .section-2 .content .avatar-wrap .avatar-hias-girl {
    left: 40px;
    width: 180px;
    top: 10px;
  }
}

.section-2 .content .avatar-wrap .avatar-image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 250px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  margin: 32px 0;
}

@media (max-width: 992px) {
  .section-2 .content .avatar-wrap .avatar-image {
    width: 200px;
  }
}

@media (max-width: 576px) {
  .section-2 .content .avatar-wrap .avatar-image {
    width: 180px;
  }
}

.section-3 {
  position: relative;
  background-image: url(../images/bg-story.jfif);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.section-3::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  bottom: -2px;
  background: -webkit-gradient(linear, left bottom, left top, from(white), color-stop(50%, rgba(250, 250, 250, 0.85)), to(white));
  background: linear-gradient(0deg, white 0%, rgba(250, 250, 250, 0.85) 50%, white 100%);
}

@media (min-width: 1400px) {
  .section-3::before {
    bottom: -3px;
    top: -3px;
  }
}

.section-3 .hias {
  position: absolute;
  top: 0;
  right: 10px;
  -webkit-transform: rotate(-45deg) scaleX(-1);
          transform: rotate(-45deg) scaleX(-1);
  width: 100px;
}

@media (max-width: 576px) {
  .section-3 .hias {
    width: 80px;
    top: 35px;
  }
}

.section-3 .content {
  padding: 8rem 0;
  text-align: center;
  position: relative;
}

@media (max-width: 576px) {
  .section-3 .content {
    padding: 2rem 0;
  }
}

.section-3 .content h3 {
  color: #ff8dbf;
}

.section-4 {
  position: relative;
  overflow: hidden;
}

.section-4 .hias {
  position: absolute;
  top: -30px;
  left: 0;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 130px;
}

@media (max-width: 576px) {
  .section-4 .hias {
    width: 70px;
    top: 0;
  }
}

.section-4 .flower {
  bottom: 0;
  right: -70px;
  position: absolute;
  width: 200px;
}

@media (max-width: 576px) {
  .section-4 .flower {
    width: 150px;
  }
}

.section-4 .content {
  padding: 5rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-4 .content .row {
    gap: 1rem;
  }
}

@media (max-width: 576px) {
  .section-4 .content .row .col-md-6 {
    margin: auto;
    width: 80%;
  }
}

.section-4 .content .zoom-gallery {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

@media (max-width: 576px) {
  .section-4 .content .zoom-gallery {
    gap: 0.25rem;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section-4 .content .zoom-gallery a {
  position: relative;
}

.section-4 .content .zoom-gallery a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section-4 .content .zoom-gallery a::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\2b";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #f4f4f4;
  padding: 4px 8px;
  font-size: 20px;
  border-radius: 1000px;
  font-weight: 700;
  border: solid 2px #f4f4f4;
  opacity: 0;
  z-index: 3;
}

.section-4 .content .zoom-gallery a:hover::before {
  background-color: #0808085d;
}

.section-4 .content .zoom-gallery a:hover::after {
  opacity: 1;
}

.section-4 .content .zoom-gallery a .photo {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

@media (max-width: 576px) {
  .section-4 .content .zoom-gallery a .photo {
    height: 180px;
  }
}

.section-5 {
  position: relative;
  background-color: #ffe7ff;
  padding: 3rem 0;
}

.section-5 .content {
  text-align: center;
  position: relative;
}

.section-5 .content h3 {
  color: #ff8dbf;
}

.section-5 .content .maps-embed {
  width: 100%;
  aspect-ratio: 2.5;
  margin-bottom: -250px;
}

@media (max-width: 576px) {
  .section-5 .content .maps-embed {
    aspect-ratio: 1.5;
    margin-bottom: -130px;
  }
}

.section-5 .content .icons-prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}

.section-5 .content .icons-prokes .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section-5 .content .icons-prokes .icon svg path {
  fill: #ff8dbf;
  stroke: #ff8dbf;
}

.section-6 {
  position: relative;
}

.section-6 .flower {
  bottom: -80px;
  left: -70px;
  position: absolute;
  width: 200px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: 2;
}

@media (max-width: 576px) {
  .section-6 .flower {
    width: 150px;
  }
}

.section-6 .content {
  text-align: center;
  padding: 14rem 0 3rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-6 .content {
    padding: 8rem 0 3rem 0;
  }
}

.section-6 .content h3 {
  color: #ff8dbf;
  margin-bottom: 1.5rem;
}

@media (max-width: 576px) {
  .section-6 .content form .row {
    gap: 1rem;
  }
}

.section-6 .content form .form-control,
.section-6 .content form .form-select {
  border-color: #ff8dbf;
  padding: 0.75rem 1rem;
  font-family: "Montserrat", sans-serif;
}

.section-6 .content form select {
  text-align: center;
}

.section-7 {
  background-color: #ffe7ff;
  position: relative;
  overflow: hidden;
}

.section-7 .hias {
  position: absolute;
  bottom: -30px;
  right: 10px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 100px;
}

@media (max-width: 576px) {
  .section-7 .hias {
    width: 80px;
  }
}

.section-7 .content {
  padding: 5rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-7 .content {
    padding: 2rem 0;
  }
}

.section-7 .content h3 {
  color: #ff8dbf;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-7 .content .card {
  background-color: #ffffff95;
  overflow: hidden;
  height: 340px;
  border: none;
  padding: 24px;
}

.section-7 .content .card .card-body {
  overflow: hidden;
}

.section-7 .content .card .slider {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.section-7 .content .card .slider div {
  margin-bottom: 14px;
}

@media (max-width: 576px) {
  .section-7 .content .card .slider div {
    margin-bottom: 12px;
  }
}

.section-7 .content .card .slider div p {
  margin-bottom: 4px;
}

.section-7 .content form .form-control {
  font-family: "Montserrat", sans-serif;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #ffffff90;
}

.section-8 {
  background-image: url(../images/bg-story.jfif);
  background-position: center;
  background-size: cover;
  position: relative;
}

.section-8::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  right: 0;
  bottom: -2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffe7ff), color-stop(50%, #fa006ca4), to(white));
  background: linear-gradient(180deg, #ffe7ff 0%, #fa006ca4 50%, white 100%);
}

.section-8 .content {
  position: relative;
  text-align: center;
  padding: 7rem 0;
  color: #ffffff;
}

@media (max-width: 576px) {
  .section-8 .content {
    padding: 2rem 0;
  }
}

.section-9 {
  position: relative;
}

.section-9 .flower {
  position: absolute;
  top: -50px;
  left: -60px;
  width: 280px;
}

@media (max-width: 576px) {
  .section-9 .flower {
    width: 150px;
    top: -75px;
  }
}

.section-9 .content {
  text-align: center;
  padding: 5rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-9 .content {
    padding: 2rem 0;
  }
}

.section-9 .content h3 {
  color: #ff8dbf;
}

.section-9 .content .yt-embed {
  width: 90%;
  aspect-ratio: 2;
}

@media (max-width: 576px) {
  .section-9 .content .yt-embed {
    width: 100%;
    aspect-ratio: 1.5;
  }
}

.section-9 .content .btn-custom {
  width: 50%;
  margin: 2rem 0;
}

@media (max-width: 576px) {
  .section-9 .content .btn-custom {
    width: 100%;
  }
}

.section-10 {
  position: relative;
  background-color: #ffe7ff;
  overflow: hidden;
}

.section-10 .content {
  text-align: center;
  padding: 5rem 0;
}

@media (max-width: 576px) {
  .section-10 .content {
    padding: 2rem 0;
  }
}

.section-10 .content ol {
  text-align: left;
  font-size: 16px;
}

.section-11 {
  background-color: #ff8dbf;
}

.section-11 .content {
  text-align: center;
  color: #ffffff;
}

.section-11 .content.thank {
  padding: 5rem 0;
}

@media (max-width: 576px) {
  .section-11 .content.thank {
    padding: 2rem 0;
  }
}

.section-11 footer {
  background-color: #ca6591;
  padding: 1rem 0;
}

body,
html {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.btn-custom {
  background-color: #ff8dbf;
  color: #fff;
  font-family: "Montserrat";
  width: 100%;
  padding: 0.75rem 0;
  text-transform: capitalize;
  font-size: 16px;
}

@media (max-width: 576px) {
  .btn-custom {
    font-size: 14px;
    width: 100%;
  }
}

h1 {
  font-family: "Elsie", sans-serif;
  font-size: 64px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 52px;
  }
}

h2 {
  font-family: "Elsie", sans-serif;
  font-size: 32px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 576px) {
  h3 {
    font-size: 26px;
  }
}

h4 {
  font-family: "Montserrat";
  font-size: 36px;
}

@media (max-width: 576px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
}

@media (max-width: 576px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

@media (max-width: 576px) {
  h6 {
    font-size: 16px;
  }
}

p,
ol {
  font-family: "Montserrat";
  font-size: 16px;
}

@media (max-width: 576px) {
  p,
  ol {
    font-size: 14px;
  }
}

small {
  font-family: "Montserrat";
  font-size: 12px;
}

@media (max-width: 576px) {
  small {
    font-size: 10px;
  }
}

.form-control::-webkit-input-placeholder {
  color: #212529;
}

.form-control:-ms-input-placeholder {
  color: #212529;
}

.form-control::-ms-input-placeholder {
  color: #212529;
}

.form-control::placeholder {
  color: #212529;
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #ff8dbf;
  position: fixed;
  overflow: hidden;
}

.loader-wrapper .loader-1 {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite;
          animation: loader 3s infinite;
}

.loader-wrapper .loader-2 {
  border-bottom: 2px solid #008b13;
  border-top: 2px solid #008b13;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 0.8s;
          animation: loader 3s infinite 0.8s;
}

.loader-wrapper .loader-3 {
  border-bottom: 2px solid #e00038;
  border-top: 2px solid #e00038;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 1.6s;
          animation: loader 3s infinite 1.6s;
}

.loader-wrapper .loader-4 {
  border-bottom: 2px solid #ca8503;
  border-top: 2px solid #ca8503;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 2.2s;
          animation: loader 3s infinite 2.2s;
}

@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(200deg);
            transform: translate(-50%, -50%) rotate(200deg);
  }
  100% {
    width: 150px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(200deg);
            transform: translate(-50%, -50%) rotate(200deg);
  }
  100% {
    width: 150px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=app.css.map */