@font-face {
  font-family: "Dita Sweet";
  src: url(../fonts/Dita-Sweet.ttf);
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
}

@media (max-width: 768px) {
  .countdown {
    margin: 3.5rem 0;
  }
}

.countdown::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  right: -100px;
  border-top: 1px solid #825e28;
}

@media (max-width: 768px) {
  .countdown::before {
    left: -17px;
    right: -17px;
  }
}

@media (max-width: 576px) {
  .countdown::before {
    left: -1px;
    right: -1px;
  }
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #825e28;
  aspect-ratio: 1.2;
  width: 100px;
  color: #825e28;
  background-color: #ffffff;
  position: relative;
}

@media (max-width: 576px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    width: 60px;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 10px;
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin: 0;
  font-weight: 500;
  font-size: 52px;
}

@media (max-width: 576px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 32px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.section-1 {
  position: relative;
  background-image: url(../images/bg-header.jfif);
  background-size: cover;
  background-position: center -250px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .section-1 {
    background-position: center;
  }
}

.section-1 .border-image {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-1 .border-image.sm {
  display: none;
}

@media (max-width: 576px) {
  .section-1 .border-image.lg {
    display: none;
  }
  .section-1 .border-image.sm {
    display: block;
  }
}

.section-1 .content {
  position: relative;
  color: #ffffff;
  height: 100vh;
  padding: 3rem;
}

@media (max-width: 1200px) {
  .section-1 .content {
    padding: 5rem 0;
  }
}

@media (max-width: 768px) {
  .section-1 .content {
    padding: 2rem 0;
  }
}

@media (min-width: 2560px) {
  .section-1 .content {
    padding: 8rem 0;
  }
}

.section-1 .content .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  color: #825e28;
  background-color: #ffffff;
}

.section-1 .content .logo {
  width: 100px;
}

@media (min-width: 2560px) {
  .section-1 .content .logo {
    width: 180px;
  }
}

.envelope-wrap {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  overflow-y: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.envelope-wrap .background {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.envelope-wrap .envelope {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  text-align: center;
  color: #fff;
}

@media (max-width: 576px) {
  .envelope-wrap .envelope {
    width: 100%;
    bottom: 5%;
  }
}

.envelope-wrap .envelope .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.25rem 2rem;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (max-width: 576px) {
  .envelope-wrap .envelope .btn-custom {
    padding: 0.25rem 1.5rem;
  }
}

.envelope-wrap .envelope .btn-custom:hover {
  color: #fff;
  border: 2px solid #825e28;
  background-color: #825e28;
}

.envelope-wrap .envelope .btn-custom:focus {
  background-color: #825e28;
  border-color: #825e28;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-2 {
  position: relative;
  overflow: hidden;
}

.section-2 .rectangle {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #825e28;
}

.section-2 .content {
  padding: 5rem 0;
  text-align: center;
}

@media (max-width: 576px) {
  .section-2 .content {
    padding: 56px 0;
  }
  .section-2 .content p {
    width: 70%;
    margin: auto;
  }
}

.section-2 .content h2 {
  color: #825e28;
}

@media (max-width: 768px) {
  .section-2 .content .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-2 .content .avatar-wrapper {
  width: 267px;
  height: 328.48px;
  position: relative;
  z-index: 5;
  margin: auto;
  -webkit-clip-path: url("#octagon-clip");
          clip-path: url("#octagon-clip");
  -webkit-clip-path: polygon(26% 0%, 73% 0%, 100% 21%, 100% 80%, 74% 100%, 27% 100%, 0% 80%, 0% 20%);
          clip-path: polygon(26% 0%, 73% 0%, 100% 21%, 100% 80%, 74% 100%, 27% 100%, 0% 80%, 0% 20%);
}

@media (max-width: 1200px) {
  .section-2 .content .avatar-wrapper {
    width: 100%;
    height: 278px;
  }
}

@media (max-width: 768px) {
  .section-2 .content .avatar-wrapper {
    width: 320px;
    height: 408px;
  }
}

@media (max-width: 576px) {
  .section-2 .content .avatar-wrapper {
    width: 200px;
    height: 246px;
  }
}

.section-2 .content .avatar-wrapper .border-avatar {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section-2 .content .avatar-wrapper .avatar-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-3 {
  position: relative;
  background-image: url(../images/bg-header.jfif);
  background-size: cover;
  background-position: 0 -500px;
  padding: 5.5rem 0;
  overflow-x: hidden;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .section-3 {
    background-position: center;
  }
}

.section-3::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5b462499;
}

.section-3 .content {
  position: relative;
  text-align: center;
  color: #ffffff;
}

.section-3 .content p {
  text-align: center;
}

.section-3 .content .title-with-border {
  background-image: url(../images/border-title.png);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  margin: auto;
  background-size: 100% 100%;
  margin-bottom: 2rem;
}

.section-4 {
  position: relative;
}

.section-4 .content {
  text-align: center;
  padding: 6.2rem 0;
  width: 70%;
  margin: auto;
}

@media (max-width: 576px) {
  .section-4 .content {
    width: 98%;
    padding: 1.5rem 0;
  }
}

.section-4 .content .splide__arrow--next {
  right: 0;
}

.section-4 .content .splide__arrow--prev {
  left: 0;
}

@media (max-width: 576px) {
  .section-4 .content .splide__arrow {
    margin: 0 10px;
    opacity: 1;
  }
  .section-4 .content .splide__arrow--next {
    right: 1em;
  }
  .section-4 .content .splide__arrow--prev {
    left: 1em;
  }
}

.section-4 .content .splide__arrow svg {
  fill: #825e28 !important;
  border: 2px solid #825e28;
  border-radius: 5px;
  background-color: #fff;
}

.section-4 .content .img-gallery {
  width: 100%;
  height: 328px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media (max-width: 576px) {
  .section-4 .content .img-gallery {
    height: 269px;
  }
}

.section-5 {
  position: relative;
  background-color: #ffffff;
  padding: 3rem 0;
  overflow: hidden;
}

@media (max-width: 576px) {
  .section-5 {
    padding: 1rem 0;
  }
}

.section-5 .content {
  text-align: center;
  position: relative;
}

@media (max-width: 768px) {
  .section-5 .content .row {
    gap: 3rem;
  }
}

.section-5 .content .title-wrapper {
  position: relative;
}

.section-5 .content .title-wrapper::before {
  content: "";
  top: 50%;
  width: 100%;
  height: 2px;
  left: 0;
  border-top: 2px solid #825e28;
  position: absolute;
}

.section-5 .content .title-wrapper .title-with-border {
  background-image: url(../images/border-title-gray.png);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: auto;
  background-size: 100% 100%;
  margin-bottom: 2rem;
  color: #825e28;
  position: relative;
  background-color: #ffffff;
}

.section-5 .content h4 {
  color: #825e28;
}

.section-5 .content .maps-embed {
  width: 100%;
  height: 250px;
}

.section-5 .content .icons-prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5rem;
  margin: 1rem 0;
}

.section-5 .content .icons-prokes .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section-5 .content .icons-prokes .icon svg path {
  fill: #825e28;
  stroke: #825e28;
}

.section-6 {
  position: relative;
}

.section-6 .flower {
  bottom: -80px;
  left: -70px;
  position: absolute;
  width: 200px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  z-index: 2;
}

@media (max-width: 576px) {
  .section-6 .flower {
    width: 150px;
  }
}

.section-6 .content {
  text-align: center;
  padding: 3rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-6 .content {
    padding: 1rem 0;
  }
}

.section-6 .content .title-wrapper {
  position: relative;
}

.section-6 .content .title-wrapper::before {
  content: "";
  top: 50%;
  width: 100%;
  height: 2px;
  left: 0;
  border-top: 2px solid #825e28;
  position: absolute;
}

.section-6 .content .title-wrapper .title-with-border {
  background-image: url(../images/border-title-gray.png);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: auto;
  background-size: 100% 100%;
  margin-bottom: 2rem;
  color: #825e28;
  position: relative;
  background-color: #ffffff;
}

@media (max-width: 576px) {
  .section-6 .content form .row {
    gap: 1rem;
  }
}

.section-6 .content form .form-control,
.section-6 .content form .form-select {
  border-color: #825e28;
  padding: 0.75rem 1rem;
  font-family: "Cabin", sans-serif;
}

.section-6 .content form select {
  text-align: center;
}

.section-7 {
  background-color: #825e28;
  position: relative;
  overflow: hidden;
}

.section-7 .content {
  padding: 5.5rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-7 .content {
    padding: 2rem 0;
  }
}

.section-7 .content h3 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1.5rem;
}

.section-7 .content .card {
  background-color: #ffffff;
  overflow: hidden;
  height: 338px;
  border: none;
  padding: 24px;
}

@media (max-width: 576px) {
  .section-7 .content .card.wish-lg {
    display: none;
  }
}

.section-7 .content .card .card-body {
  overflow: hidden;
}

.section-7 .content .card .slider {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.section-7 .content .card .slider div {
  margin-bottom: 14px;
}

@media (max-width: 576px) {
  .section-7 .content .card .slider div {
    margin-bottom: 12px;
  }
}

.section-7 .content .card .slider div p {
  margin-bottom: 4px;
}

.section-7 .content form .form-control {
  font-family: "Cabin", sans-serif;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #ffffff;
}

.section-7 .content form .btn-custom {
  background-color: #573f19;
}

.wish-sm {
  display: none;
  overflow: hidden;
}

@media (max-width: 576px) {
  .wish-sm {
    display: block;
  }
}

.wish-sm .card {
  background-color: #ffffff;
  overflow: hidden;
  height: 330px;
  border: 1px solid #825e28;
  padding: 24px;
  margin: 1rem 0;
}

.wish-sm .card .card-body {
  overflow: hidden;
}

.wish-sm .card .slider {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.wish-sm .card .slider div {
  margin-bottom: 14px;
}

@media (max-width: 576px) {
  .wish-sm .card .slider div {
    margin-bottom: 12px;
  }
}

.wish-sm .card .slider div p {
  margin-bottom: 4px;
}

.section-8 {
  background-image: url(../images/bg-header.jfif);
  background-position: center;
  background-size: cover;
  position: relative;
}

.section-8::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5b462499;
}

.section-8 .content {
  position: relative;
  text-align: center;
  padding: 5.5rem 0;
  color: #ffffff;
}

@media (max-width: 576px) {
  .section-8 .content {
    padding: 2rem 0;
  }
}

.section-8 .content .title-with-border {
  background-image: url(../images/border-title.png);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: auto;
  background-size: 100% 100%;
  margin-bottom: 2rem;
}

.gift-section {
  position: relative;
}

.gift-section .content {
  text-align: center;
  padding: 3rem 0;
}

.gift-section .content .title-wrapper {
  position: relative;
}

.gift-section .content .title-wrapper::before {
  content: "";
  top: 50%;
  width: 100%;
  height: 2px;
  left: 0;
  border-top: 2px solid #825e28;
  position: absolute;
}

.gift-section .content .title-wrapper .title-with-border {
  background-image: url(../images/border-title-gray.png);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  margin: auto;
  background-size: 100% 100%;
  margin-bottom: 2rem;
  color: #825e28;
  position: relative;
  background-color: #ffffff;
}

.gift-section .content h3 {
  color: #825e28;
}

.gift-section .content form .form-control {
  border-color: #825e28;
  font-family: "Cabin", sans-serif;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
}

.gift-section .content form .form-control::-webkit-input-placeholder {
  color: #212529;
}

.gift-section .content form .form-control:-ms-input-placeholder {
  color: #212529;
}

.gift-section .content form .form-control::-ms-input-placeholder {
  color: #212529;
}

.gift-section .content form .form-control::placeholder {
  color: #212529;
}

.gift-section .content form .input-group .input-group-text {
  color: #fff;
  background-color: #825e28;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #825e28;
}

.section-9 {
  position: relative;
  overflow: hidden;
}

.section-9 .flower {
  position: absolute;
  top: 45px;
  left: -60px;
  width: 280px;
}

@media (max-width: 576px) {
  .section-9 .flower {
    width: 150px;
    top: 0;
  }
}

.section-9 .content {
  text-align: center;
  padding: 5.5rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-9 .content {
    padding: 2rem 0;
  }
}

.section-9 .content .title-wrapper {
  position: relative;
}

.section-9 .content .title-wrapper::before {
  content: "";
  top: 50%;
  width: 100%;
  height: 2px;
  left: 0;
  border-top: 2px solid #825e28;
  position: absolute;
}

.section-9 .content .title-wrapper .title-with-border {
  background-image: url(../images/border-title-gray.png);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1.5rem 2rem;
  margin: auto;
  background-size: 100% 100%;
  margin-bottom: 2rem;
  color: #825e28;
  position: relative;
  background-color: #ffffff;
}

.section-9 .content .yt-embed {
  width: 90%;
  aspect-ratio: 2;
}

@media (max-width: 576px) {
  .section-9 .content .yt-embed {
    width: 100%;
    aspect-ratio: 1.5;
  }
}

.section-9 .content .btn-custom {
  width: 50%;
}

@media (max-width: 576px) {
  .section-9 .content .btn-custom {
    width: 100%;
  }
}

.section-10 {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.section-10 .content {
  text-align: center;
  padding: 5.5rem 0;
}

@media (max-width: 576px) {
  .section-10 .content {
    padding: 2rem 1rem;
  }
}

.section-10 .content h4 {
  color: #825e28;
}

.section-10 .content ol {
  text-align: left;
  font-size: 16px;
}

.section-11 {
  background-color: #825e28;
}

.section-11 .content {
  text-align: center;
  color: #ffffff;
}

.section-11 .content .thank {
  padding: 5rem 0;
}

.section-11 .content footer {
  background-color: #573f19;
  padding: 1rem 0;
}

body,
html {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.btn-custom {
  background-color: #825e28;
  color: #fff;
  font-family: "Cabin";
  width: 558px;
  padding: 0.75rem 0;
  text-transform: capitalize;
  font-size: 16px;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .btn-custom {
    font-size: 14px;
    width: 100%;
  }
}

h1 {
  font-family: "Dita Sweet", sans-serif;
  font-size: 64px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-family: "Dita Sweet", sans-serif;
  font-size: 36px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 28px;
  }
}

h3 {
  font-family: "Cabin";
  font-size: 36px;
  font-weight: 600;
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-family: "Cabin";
  font-size: 28px;
  font-weight: 500;
}

@media (max-width: 576px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-family: "Cabin";
  font-size: 24px;
}

@media (max-width: 576px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-family: "Cabin";
  font-size: 20px;
}

@media (max-width: 576px) {
  h6 {
    font-size: 16px;
  }
}

p,
ol {
  font-family: "Cabin";
  font-size: 16px;
}

@media (max-width: 576px) {
  p,
  ol {
    font-size: 14px;
  }
}

small {
  font-family: "Cabin";
  font-size: 12px;
}

@media (max-width: 576px) {
  small {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  .form-control,
  .form-select {
    font-size: 14px;
  }
}

.form-control::-webkit-input-placeholder {
  color: #212529;
}

.form-control:-ms-input-placeholder {
  color: #212529;
}

.form-control::-ms-input-placeholder {
  color: #212529;
}

.form-control::placeholder {
  color: #212529;
}

.rectangle {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #825e28;
}

.loader-wrapper {
  position: fixed;
  min-height: 100vh;
  background-color: #825e28;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 100%;
  z-index: 1000;
}

.loader-wrapper .dots {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-animation: dot 3s ease-in-out infinite;
          animation: dot 3s ease-in-out infinite;
}

.loader-wrapper .dots:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-wrapper .dots:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader-wrapper .dots:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader-wrapper .dots:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader-wrapper .dots:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dot {
  0%,
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #d8274e;
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #259dff;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0044ff;
  }
}

@keyframes dot {
  0%,
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #d8274e;
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #259dff;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0044ff;
  }
}
/*# sourceMappingURL=app.css.map */