.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media (max-width: 768px) {
  .countdown {
    margin: 3.5rem 0;
  }
}

@media (max-width: 576px) {
  .countdown {
    gap: 0.75rem;
  }
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (max-width: 576px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    width: 60px;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 16px;
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin: 0;
  font-weight: 500;
  font-size: 48px;
  font-family: "Yeseva One";
}

@media (max-width: 576px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 28px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
  color: #fff;
}

.section-1 {
  position: relative;
  overflow: hidden;
}

.section-1::before {
  position: absolute;
  content: "";
  background-image: url(../images/bg-header.jfif);
  background-position: center;
  background-size: cover;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 576px) {
  .section-1::before {
    top: 14px;
    left: 14px;
    bottom: 14px;
    right: 14px;
    background-position: 70% 0;
  }
}

.section-1::after {
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 576px) {
  .section-1::after {
    top: 14px;
    left: 14px;
    bottom: 14px;
    right: 14px;
  }
}

.section-1 .title-header {
  position: absolute;
  left: 66px;
  bottom: 93px;
  text-align: left;
  color: #f9fdf9;
  z-index: 10;
}

@media (max-width: 1200px) {
  .section-1 .title-header {
    bottom: 250px;
  }
}

@media (max-width: 992px) {
  .section-1 .title-header {
    bottom: 66px;
  }
}

@media (max-width: 576px) {
  .section-1 .title-header {
    bottom: 33px;
    left: 33px;
  }
}

.section-1 .title-header h1 {
  position: relative;
  color: #bfadf0;
}

.section-1 .title-header .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  color: #3b3450;
  background-color: #c5b4f5;
}

.section-1 .content {
  position: relative;
  padding: 3rem 0 6.5rem 0;
  text-align: center;
  z-index: 10;
}

@media (max-width: 1200px) {
  .section-1 .content {
    padding: 3rem 0 10rem 0;
  }
}

@media (max-width: 576px) {
  .section-1 .content {
    padding: 2.5rem 0 5rem 0;
  }
}

.section-1 .content .logo {
  width: 100px;
  position: relative;
}

@media (min-width: 2560px) {
  .section-1 .content .logo {
    width: 190px;
  }
}

.section-1 .content .brush {
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.envelope-wrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 100;
  overflow-y: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: #fff;
}

.envelope-wrap::before {
  position: fixed;
  background-color: #00000048;
  left: 12px;
  top: 12px;
  right: 12px;
  bottom: 12px;
  content: "";
  z-index: 2;
}

.envelope-wrap .background {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 12px;
}

.envelope-wrap .envelope {
  position: absolute;
  left: 66px;
  bottom: 93px;
  text-align: left;
  color: #f9fdf9;
  z-index: 10;
}

@media (max-width: 1200px) {
  .envelope-wrap .envelope {
    bottom: 250px;
  }
}

@media (max-width: 992px) {
  .envelope-wrap .envelope {
    bottom: 66px;
  }
}

@media (max-width: 576px) {
  .envelope-wrap .envelope {
    bottom: 33px;
    left: 33px;
  }
}

.envelope-wrap .envelope h1 {
  position: relative;
  color: #bfadf0;
  margin-bottom: 0;
}

.envelope-wrap .envelope .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 0.25rem 1rem;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.envelope-wrap .envelope .btn-custom:hover {
  color: #fff;
  border: 2px solid #3b3450;
  background-color: #3b3450;
}

.envelope-wrap .envelope .btn-custom:focus {
  background-color: #3b3450;
  border-color: #3b3450;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-2 {
  position: relative;
  overflow: hidden;
}

.section-2 .content {
  padding: 5rem 0 10rem 0;
  text-align: center;
}

@media (max-width: 576px) {
  .section-2 .content {
    padding: 2rem 0;
  }
}

.section-2 .content h2,
.section-2 .content h3 {
  color: #3b3450;
}

@media (max-width: 768px) {
  .section-2 .content .reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-2 .content .avatar-wrapper {
  position: relative;
}

@media (max-width: 768px) {
  .section-2 .content .avatar-wrapper {
    margin-top: 2rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
  }
}

.section-2 .content .avatar-wrapper.man::before {
  position: absolute;
  width: 195px;
  height: 396px;
  content: "";
  left: -80px;
  bottom: 0px;
  border: 3px solid #c5b4f5;
}

@media (max-width: 576px) {
  .section-2 .content .avatar-wrapper.man::before {
    height: 316px;
    width: 125px;
    left: -30px;
    bottom: 15px;
  }
}

.section-2 .content .avatar-wrapper.girl::before {
  position: absolute;
  width: 430px;
  height: 175px;
  content: "";
  left: -35px;
  bottom: 0px;
  border: 3px solid #c5b4f5;
}

@media (max-width: 576px) {
  .section-2 .content .avatar-wrapper.girl::before {
    width: auto;
    height: 150px;
    left: -20px;
    right: -20px;
    bottom: 15px;
  }
}

.section-2 .content .avatar-wrapper .avatar-image {
  width: 267px;
  height: 345px;
  position: relative;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
}

@media (max-width: 768px) {
  .section-2 .content .avatar-wrapper .avatar-image {
    width: 320px;
    margin: 1rem 0;
  }
}

@media (max-width: 576px) {
  .section-2 .content .avatar-wrapper .avatar-image {
    width: 230px;
    height: 280px;
  }
}

.section-2 .content .avatar-detail {
  text-align: center;
  padding: 5rem 0;
}

@media (max-width: 768px) {
  .section-2 .content .avatar-detail {
    gap: 3rem;
    padding: 2rem 0 3rem 0;
  }
}

.section-2 .content .avatar-detail .detail {
  width: 267px;
  margin: auto;
  text-align: left;
}

@media (max-width: 768px) {
  .section-2 .content .avatar-detail .detail {
    margin: auto;
    width: 320px;
  }
}

@media (max-width: 576px) {
  .section-2 .content .avatar-detail .detail {
    width: 230px;
  }
}

.section-2 .content .btn-custom {
  width: 200px;
  border-radius: 50px;
  color: #ffffff;
  padding: 0.75rem;
  margin: 5rem 0 6rem 0;
}

@media (max-width: 768px) {
  .section-2 .content .btn-custom {
    margin: 2rem 0;
  }
}

@media (max-width: 576px) {
  .section-2 .content .btn-custom {
    width: 156px;
  }
}

.section-3 {
  position: relative;
}

@media (max-width: 576px) {
  .section-3 {
    padding: 2rem 0;
  }
}

.section-3 .content {
  position: relative;
  text-align: center;
  background-color: #c5b4f5;
  padding: 3.5rem 0;
}

.section-3 .content p {
  text-align: center;
  color: #000;
}

.section-3 .content .avatar-couple {
  width: 946px;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 2rem;
  margin-top: -15rem;
}

@media (max-width: 992px) {
  .section-3 .content .avatar-couple {
    width: 100%;
    height: auto;
    aspect-ratio: 2;
  }
}

@media (max-width: 576px) {
  .section-3 .content .avatar-couple {
    margin-top: -10rem;
    margin-bottom: 1rem;
  }
}

.section-4 {
  position: relative;
  overflow: hidden;
}

.section-4 .content {
  padding: 5rem 0;
}

@media (max-width: 576px) {
  .section-4 .content {
    padding: 2rem 0;
  }
}

.section-4 .content .zoom-gallery {
  width: 100%;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
}

.section-4 .content .zoom-gallery::before {
  position: absolute;
  content: "";
  width: 461px;
  height: 583px;
  left: -50px;
  top: -30px;
  border: 3px solid #c5b4f5;
}

@media (max-width: 576px) {
  .section-4 .content .zoom-gallery::before {
    width: 230px;
    height: 290px;
    left: -15px;
  }
}

.section-4 .content .zoom-gallery a {
  position: relative;
}

.section-4 .content .zoom-gallery a::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 2;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.section-4 .content .zoom-gallery a::after {
  position: absolute;
  font-family: "Font Awesome 6 Free";
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "\2b";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #f4f4f4;
  padding: 4px 8px;
  font-size: 20px;
  border-radius: 1000px;
  font-weight: 700;
  border: solid 2px #f4f4f4;
  opacity: 0;
  z-index: 3;
}

.section-4 .content .zoom-gallery a:hover::before {
  background-color: #0808085d;
}

.section-4 .content .zoom-gallery a:hover::after {
  opacity: 1;
}

.section-4 .content .zoom-gallery a:nth-child(3), .section-4 .content .zoom-gallery a:nth-child(9), .section-4 .content .zoom-gallery a:nth-child(15) {
  -ms-grid-column: 6;
  -ms-grid-column-span: -3;
  grid-column: 6 / 3;
}

.section-4 .content .zoom-gallery a:nth-child(4), .section-4 .content .zoom-gallery a:nth-child(10) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
}

.section-4 .content .zoom-gallery .photo {
  width: 100%;
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  -ms-grid-column: 1;
  grid-column: 1;
}

@media (max-width: 576px) {
  .section-4 .content .zoom-gallery .photo {
    height: 107px;
  }
}

.section-4 .content .yt-embed {
  width: 100%;
  aspect-ratio: 2;
}

.section-5 {
  position: relative;
  padding: 3rem 0;
  overflow: hidden;
}

.section-5 h3,
.section-5 h4 {
  color: #3b3450;
}

.section-5 .content .card {
  background-color: #c5b4f5;
  color: #3b3450;
  border: none;
  margin-bottom: 2rem;
}

.section-5 .content .prokes {
  height: 78px;
  margin: auto;
  width: 100%;
}

.section-5 .content .maps {
  padding: 3rem 0 0 0;
  text-align: center;
  position: relative;
}

.section-5 .content .maps::before {
  position: absolute;
  content: "";
  right: -50px;
  bottom: 40px;
  width: 180px;
  height: 270px;
  border: 3px solid #c5b4f5;
}

@media (max-width: 1200px) {
  .section-5 .content .maps::before {
    right: -35px;
  }
}

@media (max-width: 768px) {
  .section-5 .content .maps::before {
    display: none;
  }
}

.section-5 .content .maps .maps-embed {
  position: relative;
  width: 100%;
  aspect-ratio: 2;
}

.section-6 {
  position: relative;
  overflow: hidden;
}

.section-6 .content {
  text-align: center;
  padding: 3rem 0;
  position: relative;
  background-color: #c5b4f5;
}

.section-6 .content form .form-control,
.section-6 .content form .form-select {
  border-color: #3b3450;
  padding: 0.75rem 1rem;
  font-family: "Public Sans", sans-serif;
  color: #3b3450;
  margin-bottom: 1rem;
  background-color: transparent;
}

.section-6 .content form .form-control::-webkit-input-placeholder,
.section-6 .content form .form-select::-webkit-input-placeholder {
  color: #3b3450;
}

.section-6 .content form .form-control:-ms-input-placeholder,
.section-6 .content form .form-select:-ms-input-placeholder {
  color: #3b3450;
}

.section-6 .content form .form-control::-ms-input-placeholder,
.section-6 .content form .form-select::-ms-input-placeholder {
  color: #3b3450;
}

.section-6 .content form .form-control::placeholder,
.section-6 .content form .form-select::placeholder {
  color: #3b3450;
}

.section-6 .content form select {
  text-align: center;
}

.section-6 .content form .btn-custom {
  background-color: #3b3450;
  color: #f9fdf9;
}

.section-7 {
  position: relative;
  overflow: hidden;
}

.section-7::before {
  position: absolute;
  content: "";
  top: 83px;
  left: 0;
  height: 134px;
  width: 120px;
  border: 3px solid #c5b4f5;
}

@media (max-width: 576px) {
  .section-7::before {
    width: 60px;
    height: 100px;
    top: 20px;
    left: -30px;
  }
}

.section-7::after {
  position: absolute;
  content: "";
  bottom: 40px;
  right: 20px;
  height: 266px;
  width: 291px;
  border: 3px solid #c5b4f5;
}

@media (max-width: 576px) {
  .section-7::after {
    height: 133px;
    width: 145px;
    right: 0;
  }
}

.section-7 .content {
  padding: 8rem 0;
  position: relative;
}

@media (max-width: 768px) {
  .section-7 .content {
    padding: 3rem 0;
  }
}

.section-7 .content h3 {
  color: #3b3450;
  text-align: center;
}

.section-7 .content .card {
  background-color: #c5b4f5;
  overflow: hidden;
  height: 343px;
  border: none;
  padding: 24px;
  color: #3b3450;
  position: relative;
  z-index: 10;
}

@media (max-width: 576px) {
  .section-7 .content .card {
    margin: 2rem -15px 0;
  }
}

.section-7 .content .card .card-body {
  padding: 0;
  overflow: auto;
  word-break: break-all;
}

.section-7 .content .card .card-body::-webkit-scrollbar {
  display: none;
}

.section-7 .content .card .slider {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.section-7 .content .card .slider div {
  margin-bottom: 14px;
}

@media (max-width: 576px) {
  .section-7 .content .card .slider div {
    margin-bottom: 12px;
  }
}

.section-7 .content .card .slider div p {
  margin-bottom: 4px;
}

.section-7 .content form .form-control {
  font-family: "Fira Sans", sans-serif;
  padding: 0.75rem 1rem;
  border-color: #3b3450;
  background-color: #ffffff;
}

.section-7 .content form .btn-custom {
  width: 100%;
}

.section-8 {
  position: relative;
  overflow: hidden;
}

.section-8 .content {
  text-align: center;
  padding: 3rem 0;
}

@media (max-width: 576px) {
  .section-8 .content {
    padding: 1rem 0;
  }
}

.section-8 .content h3 {
  color: #3b3450;
}

.section-8 .content form .form-control {
  border-color: #3b3450;
  color: #3b3450;
  font-family: "Public Sans";
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
}

.section-8 .content form .form-control::-webkit-input-placeholder {
  color: #3b3450;
}

.section-8 .content form .form-control:-ms-input-placeholder {
  color: #3b3450;
}

.section-8 .content form .form-control::-ms-input-placeholder {
  color: #3b3450;
}

.section-8 .content form .form-control::placeholder {
  color: #3b3450;
}

.section-8 .content form .input-group .input-group-text {
  color: #fff;
  background-color: #3b3450;
  margin-bottom: 1rem;
  padding: 0.75rem 1rem;
  border: 1px solid #3b3450;
}

.section-9 {
  position: relative;
}

.section-9 .content {
  position: relative;
  text-align: center;
  padding: 5rem 0;
}

@media (max-width: 576px) {
  .section-9 .content {
    padding: 3rem 0;
  }
}

.section-9 .content::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  border: 3px solid #c5b4f5;
  width: 96px;
  height: 277px;
}

@media (max-width: 576px) {
  .section-9 .content::before {
    height: 100px;
    width: 40px;
  }
}

.section-9 .content p {
  text-align: left;
}

.section-9 .content .avatar-couple {
  width: 100%;
  height: auto;
}

@media (max-width: 576px) {
  .section-9 .content .avatar-couple {
    margin-bottom: 3rem;
  }
}

.section-10 {
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.section-10 .content {
  text-align: center;
  padding: 5rem 0 1rem 0;
}

@media (max-width: 576px) {
  .section-10 .content {
    padding: 2rem 0;
  }
}

.section-10 .content ul {
  padding-left: 0;
}

.section-10 .content ul ol {
  text-align: left;
  font-size: 16px;
}

@media (min-width: 768px) {
  .section-10 .content ul ol {
    padding-left: 0;
  }
}

.section-10 .content .yt-embed {
  width: 100%;
  aspect-ratio: 2;
  margin-bottom: 1rem;
}

.section-10 .content .btn-custom {
  width: 100%;
  background-color: #3b3450;
  color: #f9fdf9;
}

.section-10 .content .right-bg {
  background-color: #c5b4f5;
  padding: 0 0 0 6rem;
  margin-left: -80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .section-10 .content .right-bg {
    padding: 4rem 2rem 2rem;
    margin: -20px 0 0;
  }
  .section-10 .content .right-bg h4 {
    text-align: center !important;
  }
}

.section-11 {
  position: relative;
  overflow: hidden;
}

.section-11 .content {
  padding: 0 0 3rem 0;
  position: relative;
}

@media (min-width: 992px) {
  .section-11 .content .col-lg-11 {
    padding: 0;
  }
  .section-11 .content .col-lg-11 .sm {
    display: none;
  }
}

.section-11 .content .card {
  background-color: #f7e6ff;
  border: none;
  border-radius: 0;
}

@media (min-width: 1440px) {
  .section-11 .content .card {
    margin-left: -17px;
  }
}

.section-11 .content .card .card-body {
  padding: 2rem 4rem;
}

@media (max-width: 768px) {
  .section-11 .content .card .card-body {
    padding: 2rem;
  }
  .section-11 .content .card .card-body .lg {
    display: none;
  }
}

.section-12 {
  overflow: hidden;
  position: relative;
}

.section-12 .content {
  text-align: center;
  color: #3b3450;
  background-color: #c5b4f5;
  padding: 5rem 0;
}

@media (max-width: 576px) {
  .section-12 .content {
    padding: 0;
  }
}

.section-12 .content .thank {
  padding: 5rem 0;
}

.section-12 footer {
  position: relative;
  background-color: #3b3450;
  padding: 1rem 0;
  text-align: center;
  color: #fff;
}

body,
html {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.btn-custom {
  background-color: #c5b4f5;
  color: #3b3450;
  font-family: "Public Sans";
  width: 558px;
  padding: 0.75rem 0;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .btn-custom {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .btn-custom {
    font-size: 14px;
    width: 100%;
  }
}

.main-app {
  color: #353a40;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 72px;
  }
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  color: #c5b4f5;
}

@media (max-width: 576px) {
  h2 {
    font-size: 40px;
  }
}

h3 {
  font-family: "Public Sans";
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #3b3450;
}

@media (max-width: 576px) {
  h3 {
    font-size: 24px;
  }
}

h4 {
  font-family: "Public Sans";
  font-size: 32px;
  font-weight: 600;
}

@media (max-width: 576px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-family: "Public Sans";
  font-size: 30px;
  font-weight: 600;
}

@media (max-width: 576px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-family: "Public Sans";
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 576px) {
  h6 {
    font-size: 16px;
  }
}

p,
ol {
  font-family: "Public Sans";
  font-size: 16px;
}

@media (max-width: 576px) {
  p,
  ol {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .form-control,
  .form-select {
    font-size: 14px;
  }
}

.form-control::-webkit-input-placeholder {
  color: #212529;
}

.form-control:-ms-input-placeholder {
  color: #212529;
}

.form-control::-ms-input-placeholder {
  color: #212529;
}

.form-control::placeholder {
  color: #212529;
}

.rectangle {
  position: absolute;
  width: 95%;
  height: 95%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #3b3450;
}

.loader-wrapper {
  position: absolute;
  min-height: 100vh;
  background-color: #3b3450;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  width: 100%;
  z-index: 1000;
}

.loader-wrapper .dots {
  position: relative;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-animation: dot 3s ease-in-out infinite;
          animation: dot 3s ease-in-out infinite;
}

.loader-wrapper .dots:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loader-wrapper .dots:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loader-wrapper .dots:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader-wrapper .dots:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loader-wrapper .dots:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes dot {
  0%,
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #d8274e;
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #259dff;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0044ff;
  }
}

@keyframes dot {
  0%,
  100% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    background-color: #d8274e;
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #259dff;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #0044ff;
  }
}
/*# sourceMappingURL=app.css.map */