@font-face {
  font-family: "Bacalisties";
  src: url(../fonts/Bacalisties.ttf);
}

@font-face {
  font-family: "Vogue";
  src: url(../fonts/Vogue-Regular.woff2);
}

.countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1.75rem;
}

@media (max-width: 576px) {
  .countdown {
    gap: 0;
  }
}

.countdown .days,
.countdown .hours,
.countdown .minutes,
.countdown .seconds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .countdown .days,
  .countdown .hours,
  .countdown .minutes,
  .countdown .seconds {
    width: 60px;
  }
}

.countdown .days .huruf,
.countdown .hours .huruf,
.countdown .minutes .huruf,
.countdown .seconds .huruf {
  font-size: 10px;
}

@media (max-width: 576px) {
  .countdown .days .huruf,
  .countdown .hours .huruf,
  .countdown .minutes .huruf,
  .countdown .seconds .huruf {
    font-size: 8px;
  }
}

.countdown .days .angka,
.countdown .hours .angka,
.countdown .minutes .angka,
.countdown .seconds .angka {
  margin-bottom: 0;
  font-family: "DM Serif Display";
  font-size: 52px;
}

@media (max-width: 576px) {
  .countdown .days .angka,
  .countdown .hours .angka,
  .countdown .minutes .angka,
  .countdown .seconds .angka {
    font-size: 32px;
  }
}

.countdown .days .huruf,
.countdown .days .angka,
.countdown .hours .huruf,
.countdown .hours .angka,
.countdown .minutes .huruf,
.countdown .minutes .angka,
.countdown .seconds .huruf,
.countdown .seconds .angka {
  margin: 0;
  padding: 0;
  line-height: normal;
}

.section-1 {
  background-image: url(../images/bg-header.jfif);
  background-size: cover;
  background-position: center -340px;
  overflow: hidden;
}

@media (max-width: 1200px) {
  .section-1 {
    background-position: center;
  }
}

.section-1 .content .header-title {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
}

.section-1 .content .header-title .logo {
  width: 100px;
}

.section-1 .content .header-title .card {
  background-color: #4ba8924d;
  border: none;
  color: #ffffff;
  padding: 1rem 1.5rem;
  margin-left: -45px;
  margin-right: -45px;
}

.section-1 .content .header-title .card.time {
  background-color: #ffffff05;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding: 0 1.5rem;
  margin-top: 2rem;
}

@media (max-width: 576px) {
  .section-1 .content .header-title .card.time {
    padding: 0;
  }
}

.section-1 .content .header-title .card .btn-custom {
  background-color: #ffffff;
  width: 200px;
  height: 48px;
  color: #4ba891;
  padding: 0;
  line-height: 48px;
}

.envelope-wrap {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 100;
  overflow-y: hidden;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.envelope-wrap::before {
  position: absolute;
  content: "";
  background-color: #00000050;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.envelope-wrap .background {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -340px;
     object-position: center -340px;
}

@media (max-width: 1200px) {
  .envelope-wrap .background {
    -o-object-position: center;
       object-position: center;
  }
}

.envelope-wrap .envelope {
  position: absolute;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  text-align: center;
  color: #fff;
}

@media (max-width: 576px) {
  .envelope-wrap .envelope {
    width: 100%;
    bottom: 5%;
  }
}

.envelope-wrap .envelope .btn-custom {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.25rem 2rem;
  background-color: transparent;
  border: 2px solid #fff;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (max-width: 576px) {
  .envelope-wrap .envelope .btn-custom {
    padding: 0.25rem 1.5rem;
  }
}

.envelope-wrap .envelope .btn-custom:hover {
  color: #fff;
  border: 2px solid #4ba891;
  background-color: #4ba891;
}

.envelope-wrap .envelope .btn-custom:focus {
  background-color: #4ba891;
  border-color: #4ba891;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-2 {
  position: relative;
  overflow: hidden;
}

.section-2 .bg-color01,
.section-2 .bg-color02 {
  position: absolute;
  width: 100%;
}

.section-2 .bg-color01 {
  background-color: #4ba891;
  top: 0;
  height: 250px;
}

.section-2 .bg-color02 {
  background-color: #4ba8924d;
  bottom: 0;
  height: 200px;
}

.section-2 .content {
  position: relative;
  text-align: center;
  padding: 3rem 0 4rem 0;
  color: #ffffff;
}

.section-2 .content h6 {
  line-height: 5rem;
}

.section-2 .content .avatar {
  width: 100%;
  height: 380px;
  -o-object-fit: none;
     object-fit: none;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .section-2 .content .avatar {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 576px) {
  .section-2 .content .avatar {
    width: 186px;
    height: 253px;
  }
}

.section-2 .content .avatar.man {
  -o-object-position: -460px -200px;
     object-position: -460px -200px;
}

@media (max-width: 576px) {
  .section-2 .content .avatar.man {
    -o-object-position: -520px -200px;
       object-position: -520px -200px;
  }
}

.section-2 .content .avatar.girl {
  -o-object-position: -165px -200px;
     object-position: -165px -200px;
}

@media (max-width: 576px) {
  .section-2 .content .avatar.girl {
    -o-object-position: -202px -200px;
       object-position: -202px -200px;
  }
}

.section-2 .content .row {
  color: #000;
}

.section-3 {
  position: relative;
  overflow: hidden;
}

.section-3 .bg-story {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 79%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
}

@media (min-width: 1024px) {
  .section-3 .bg-story {
    width: 81.3%;
  }
}

@media (min-width: 1200px) {
  .section-3 .bg-story {
    width: 79%;
  }
}

@media (min-width: 1440px) {
  .section-3 .bg-story {
    width: 80.55%;
  }
}

@media (min-width: 2560px) {
  .section-3 .bg-story {
    width: 67.2%;
  }
}

.section-3 .bg-color {
  background-color: #4ba892cc;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 79%;
  height: 100%;
}

@media (min-width: 1024px) {
  .section-3 .bg-color {
    width: 81.3%;
  }
}

@media (min-width: 1200px) {
  .section-3 .bg-color {
    width: 79%;
  }
}

@media (min-width: 1440px) {
  .section-3 .bg-color {
    width: 80.55%;
  }
}

@media (min-width: 2560px) {
  .section-3 .bg-color {
    width: 67.2%;
  }
}

.section-3 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 2rem 0;
  position: relative;
  color: #ffffff;
}

.section-3 .content h3 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  color: #4ba891;
  margin: 0 0 0 100px;
}

@media (max-width: 768px) {
  .section-3 .content h3 {
    margin: 0 0 0 70px;
  }
}

@media (max-width: 576px) {
  .section-3 .content h3 {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 768px) {
  .section-3 .content .col-md-2 {
    width: 16.66%;
  }
}

.section-3 .content .col-md-10 {
  height: 580px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .section-3 .content .col-md-10 {
    width: 83.33%;
  }
  .section-3 .content .col-md-10 .col-lg-10 {
    padding: 0 2rem;
  }
}

@media (max-width: 576px) {
  .section-3 .content .col-md-10 {
    height: 100%;
  }
  .section-3 .content .col-md-10 .col-lg-10 {
    padding: 0 1.25rem !important;
  }
}

.section-4 {
  background-color: #4ba8924d;
}

.section-4 .content {
  text-align: center;
  width: 70%;
  margin: auto;
}

@media (max-width: 576px) {
  .section-4 .content {
    width: 95%;
  }
}

@media (max-width: 576px) {
  .section-4 .content .splide__arrow {
    opacity: 1;
  }
}

.section-4 .content .splide__arrow svg {
  fill: #4ba891 !important;
}

.section-4 .content .img-gallery {
  width: 100%;
  height: 328px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center -180px;
     object-position: center -180px;
}

@media (max-width: 576px) {
  .section-4 .content .img-gallery {
    height: 269px;
  }
}

.section-5 {
  position: relative;
}

.section-5 .bg-color {
  position: absolute;
  background-color: #4ba891;
  right: 0;
  width: 50%;
  height: 480px;
}

@media (max-width: 768px) {
  .section-5 .bg-color {
    height: 440px;
  }
}

@media (max-width: 576px) {
  .section-5 .bg-color {
    height: 520px;
  }
}

.section-5 .content {
  color: #ffffff;
  position: relative;
  text-align: center;
  padding: 2rem 0;
}

.section-5 .content h3 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  color: #4ba891;
  margin: 0 0 0 100px;
}

@media (max-width: 768px) {
  .section-5 .content h3 {
    margin: 0 0 0 70px;
  }
}

@media (max-width: 576px) {
  .section-5 .content h3 {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 768px) {
  .section-5 .content .col-md-2 {
    width: 16.66%;
  }
}

.section-5 .content .col-md-10 {
  padding: 0;
}

@media (max-width: 768px) {
  .section-5 .content .col-md-10 {
    width: 83.33%;
  }
}

.section-5 .content .col-md-10 .col-md-8 {
  padding: 0 0 0 2.5rem;
}

@media (max-width: 768px) {
  .section-5 .content .col-md-10 .col-md-8 {
    padding: 0 0 0 1.4rem;
  }
}

.section-5 .content .col-md-10 .bg {
  background-color: #4ba891;
  padding: 2rem 0;
  margin: -2rem 0 0 0;
  text-align: left;
}

@media (max-width: 768px) {
  .section-5 .content .col-md-10 .bg {
    margin-left: 17px;
  }
}

@media (max-width: 576px) {
  .section-5 .content .col-md-10 .bg {
    margin-left: 15px;
  }
}

.section-5 .content .maps-wrapper {
  text-align: center;
}

@media (max-width: 576px) {
  .section-5 .content .maps-wrapper {
    padding-right: 0.5rem;
  }
  .section-5 .content .maps-wrapper.lg {
    display: none;
  }
}

.section-5 .content .maps-wrapper .maps-embed {
  width: 100%;
  aspect-ratio: 2.5;
  margin-bottom: 0.75rem;
}

@media (max-width: 768px) {
  .section-5 .content .maps-wrapper .maps-embed {
    margin-left: 17px;
  }
}

@media (max-width: 576px) {
  .section-5 .content .maps-wrapper .maps-embed {
    margin-left: 0;
  }
}

.section-5 .content .icons-prokes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
  margin: 1rem 0;
}

.section-5 .content .icons-prokes .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.section-5 .content .icons-prokes .icon svg path {
  fill: #ffffff;
  stroke: #ffffff;
}

.section-5 .content .sm {
  display: none;
}

@media (max-width: 576px) {
  .section-5 .content .sm {
    display: block;
  }
}

.section-5 .content .sm .maps-wrapper {
  text-align: center;
  padding: 0;
}

.section-5 .content .sm .maps-wrapper .maps-embed {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 0.75rem;
}

.section-6 {
  position: relative;
}

.section-6 .content {
  text-align: center;
  padding: 3rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-6 .content {
    padding: 3rem 0;
  }
}

.section-6 .content h3 {
  color: #4ba891;
  margin-bottom: 1.5rem;
}

@media (max-width: 576px) {
  .section-6 .content form .row {
    gap: 1rem;
  }
}

.section-6 .content form .form-control,
.section-6 .content form .form-select {
  border-color: #4ba891;
  padding: 0.75rem 1rem;
  font-family: "Encode Sans", sans-serif;
}

.section-6 .content form select {
  text-align: center;
}

.section-7 {
  background-color: #4ba8924d;
  position: relative;
  overflow: hidden;
}

.section-7 .hias {
  position: absolute;
  bottom: -30px;
  right: 10px;
  -webkit-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 100px;
}

@media (max-width: 576px) {
  .section-7 .hias {
    width: 80px;
  }
}

.section-7 .content {
  padding: 5rem 0;
  position: relative;
}

@media (max-width: 576px) {
  .section-7 .content {
    padding: 1.5rem 0;
  }
  .section-7 .content .title-lg {
    display: none;
  }
}

.section-7 .content h3 {
  color: #4ba891;
  text-align: center;
  margin-bottom: 1.5rem;
}

@media (max-width: 576px) {
  .section-7 .content .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section-7 .content .title-sm {
  display: none;
}

@media (max-width: 576px) {
  .section-7 .content .title-sm {
    display: block;
    text-align: center;
  }
}

.section-7 .content .card {
  background-color: #ffffff95;
  padding: 24px;
  height: 338px;
  border: none;
}

.section-7 .content .card .card-body {
  padding: 0;
  overflow: auto;
  word-break: break-all;
}

.section-7 .content .card .card-body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 576px) {
  .section-7 .content .card {
    margin-bottom: 2rem;
    background-color: transparent;
  }
}

.section-7 .content .card .slider {
  -webkit-box-align: start !important;
      -ms-flex-align: start !important;
          align-items: flex-start !important;
}

.section-7 .content .card .slider div {
  margin-bottom: 0.75rem;
}

.section-7 .content .card .slider div p {
  margin-bottom: 0;
}

.section-7 .content form .form-control {
  font-family: "Montserrat", sans-serif;
  padding: 0.75rem 1rem;
  border: none;
  background-color: #ffffff90;
}

.section-7 .content form .btn-custom {
  width: 100%;
}

.section-8 {
  position: relative;
  overflow: hidden;
}

.section-8 .bg-story {
  position: absolute;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 79%;
  -o-object-position: center;
     object-position: center;
  object-fit: cover;
  height: 100%;
}

@media (min-width: 1024px) {
  .section-8 .bg-story {
    width: 81.3%;
  }
}

@media (min-width: 1200px) {
  .section-8 .bg-story {
    width: 79%;
  }
}

@media (min-width: 1440px) {
  .section-8 .bg-story {
    width: 80.55%;
  }
}

@media (min-width: 2560px) {
  .section-8 .bg-story {
    width: 67.2%;
  }
}

.section-8 .bg-color {
  background-color: #4ba892cc;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 79%;
  height: 100%;
}

@media (min-width: 1024px) {
  .section-8 .bg-color {
    width: 81.3%;
  }
}

@media (min-width: 1200px) {
  .section-8 .bg-color {
    width: 79%;
  }
}

@media (min-width: 1440px) {
  .section-8 .bg-color {
    width: 80.55%;
  }
}

@media (min-width: 2560px) {
  .section-8 .bg-color {
    width: 67.2%;
  }
}

.section-8 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 2.5rem 0;
  position: relative;
  color: #ffffff;
}

.section-8 .content h3 {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  color: #4ba891;
  margin: 0 0 0 100px;
}

@media (max-width: 768px) {
  .section-8 .content h3 {
    margin: 0 0 0 70px;
  }
}

@media (max-width: 576px) {
  .section-8 .content h3 {
    margin: 0 0 0 20px;
  }
}

@media (max-width: 768px) {
  .section-8 .content .col-md-2 {
    width: 16.66%;
  }
}

@media (max-width: 768px) {
  .section-8 .content .col-md-10 {
    width: 83.33%;
  }
}

@media (max-width: 576px) {
  .section-8 .content .col-md-10 .col-lg-6 p {
    padding: 0 1.25rem !important;
  }
}

.section-9 {
  position: relative;
  overflow: hidden;
}

.section-9 .content {
  text-align: center;
  padding: 3rem 0;
  position: relative;
}

.section-9 .content h3 {
  color: #4ba891;
}

.section-9 .content .yt-embed {
  width: 90%;
  aspect-ratio: 2;
}

@media (max-width: 576px) {
  .section-9 .content .yt-embed {
    width: 100%;
    aspect-ratio: 1.5;
  }
}

.section-9 .content .btn-custom {
  width: 50%;
  margin-top: 1rem;
}

@media (max-width: 576px) {
  .section-9 .content .btn-custom {
    width: 100%;
  }
}

.section-10 {
  position: relative;
  background-color: #4ba8924d;
  overflow: hidden;
}

.section-10 .content {
  text-align: center;
  padding: 3rem 0;
}

.section-10 .content ol {
  text-align: left;
  font-size: 16px;
}

.section-10 .content h4 {
  color: #4ba891;
}

.section-11 {
  background-color: #4ba891;
}

.section-11 .content {
  text-align: center;
  color: #ffffff;
  background-image: url(../images/bg-our-story.jfif);
  background-size: cover;
  position: relative;
}

.section-11 .content::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: #4ba892cc;
}

.section-11 .content .thank {
  padding: 3rem 0;
  position: relative;
}

.section-11 footer {
  background-color: #4ba8924d;
  padding: 1rem 0;
  text-align: center;
  color: #ffffff;
}

body,
html {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.btn-custom {
  background-color: #4ba891;
  color: #fff;
  font-family: "Encode Sans";
  width: 558px;
  padding: 0.75rem 0;
  text-transform: capitalize;
  font-size: 16px;
}

@media (max-width: 576px) {
  .btn-custom {
    font-size: 14px;
    width: 100%;
  }
}

h1 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 60px;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 52px;
}

@media (max-width: 576px) {
  h2 {
    font-size: 32px;
  }
}

h3 {
  font-family: "Encode Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

@media (max-width: 576px) {
  h3 {
    font-size: 28px;
  }
}

h4 {
  font-family: "Encode Sans", sans-serif;
  font-size: 31px;
}

@media (max-width: 576px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-family: "Encode Sans", sans-serif;
  font-size: 28px;
}

@media (max-width: 576px) {
  h5 {
    font-size: 20px;
  }
}

h6 {
  font-family: "Encode Sans", sans-serif;
  font-size: 20px;
}

@media (max-width: 576px) {
  h6 {
    font-size: 16px;
  }
}

p,
ol {
  font-family: "Encode Sans";
  font-size: 16px;
}

@media (max-width: 576px) {
  p,
  ol {
    font-size: 14px;
  }
}

small {
  font-family: "Encode Sans";
  font-size: 12px;
}

@media (max-width: 576px) {
  small {
    font-size: 10px;
  }
}

.form-control::-webkit-input-placeholder {
  color: #212529;
}

.form-control:-ms-input-placeholder {
  color: #212529;
}

.form-control::-ms-input-placeholder {
  color: #212529;
}

.form-control::placeholder {
  color: #212529;
}

.color-primary {
  color: #4ba891;
}

.loader-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #4ba891;
  position: fixed;
  z-index: 1000;
}

.loader-wrapper .loader-1 {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite;
          animation: loader 3s infinite;
}

.loader-wrapper .loader-2 {
  border-bottom: 2px solid #008b13;
  border-top: 2px solid #008b13;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 0.8s;
          animation: loader 3s infinite 0.8s;
}

.loader-wrapper .loader-3 {
  border-bottom: 2px solid #e00038;
  border-top: 2px solid #e00038;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 1.6s;
          animation: loader 3s infinite 1.6s;
}

.loader-wrapper .loader-4 {
  border-bottom: 2px solid #ca8503;
  border-top: 2px solid #ca8503;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loader 3s infinite 2.2s;
          animation: loader 3s infinite 2.2s;
}

@-webkit-keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(200deg);
            transform: translate(-50%, -50%) rotate(200deg);
  }
  100% {
    width: 150px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}

@keyframes loader {
  0% {
    width: 10px;
    height: 10px;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(200deg);
            transform: translate(-50%, -50%) rotate(200deg);
  }
  100% {
    width: 150px;
    height: 150px;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0;
  }
}
/*# sourceMappingURL=app.css.map */